body {
  background-color:black;

a {
  text-decoration: none;
}  

}
#mkBackground {
 display: inline-flex;
 position:fixed;
 width: 100%;
 object-fit:fill ;
}

.firstNavButtons {
  position:fixed;
    top:8px;
    left:15px;
    width: 100%;
    padding-top: 10px;
}

button {
  display: inline;
  background: none;
  color: white;
  border: none;
  font-size: 13px;
  opacity: 70%;
}

button:hover {
  font-size: 14px;
  background-color: rgb(167, 167, 167);
  opacity: 100%;
  cursor: pointer;
  
}

.firstNave3 {
  margin-left: 750px;
}

.socialMediaLogos {
  display: inline;
  position: fixed;
  margin-left: 1700px;
  opacity: 50%;
  padding-top: 10px;
}

.youtube, 
.facebook,
.tweeter,
.instagram 
{
  width: 20px;
  margin-left: 5px;
}

.youtube:hover, 
.facebook:hover,
.tweeter:hover,
.instagram:hover {
cursor: pointer;
opacity: 100%;
width: 23px;
}

.logIn {
  display: inline;
  position:fixed;
  left:1900px;
  padding-top: 10px;
}

.secondNavBar {
  display: inline;
  position: fixed;
  top: 100px;
  margin-left: 35px;
}

#secondButtons {

  font-size: 20px;
}

#secondButtons:hover {
  transition-delay: 0.3s;
}

.certeralMortalKombat {
  display:inline;
  position: relative;
  top: 400px;
  left: 50px;
}

.mkTitleCentral {
  width: 900px;
}

.liuKangpic {
  display: flex;
  position:fixed;
  left: 1700px;
}



.flames
{
  position: fixed;
  top: 825px;
  transform: skewY(-1deg);
  mix-blend-mode:screen;
}

.fireBKGSpecs {
  display: block;
  position: fixed;
  top: 890px;;
  object-fit: fill;
  opacity: 50%;
  mix-blend-mode:screen;
}


