body {
  background-color: rgb(48, 45, 45);

}
#mkBackground {
 display: inline-flex;
 position:absolute;
 object-fit:fill;
}

.firstNavButtons {
  position:absolute;
    top:8px;
    left:15px;
    padding-top: 10px;
}

button {
  display: inline;
  background: none;
  color: white;
  border: none;
  font-size: 13px;
  opacity: 70%;
}

button:hover {
  font-size: 14px;
  background-color: rgb(167, 167, 167);
  opacity: 100%;
  cursor: pointer;
  
}

.firstNave3 {
  margin-left: 750px;
}

.socialMediaLogos {
  display: inline;
  position: absolute;
  margin-left: 1600px;
  opacity: 50%;
  padding-top: 10px;
}

.youtube, 
.facebook,
.tweeter,
.instagram 
{
  width: 20px;
  margin-left: 5px;
}

.youtube:hover, 
.facebook:hover,
.tweeter:hover,
.instagram:hover {
cursor: pointer;
opacity: 100%;
width: 23px;
}

.logIn {
  display: inline;
  position: absolute;
  left: 1750px;
  padding-top: 10px;
}

.secondNavBar {
  display: inline;
  position: relative;
  top: 100px;
  margin-left: 35px;
}

#secondButtons {

  font-size: 20px;
}

#secondButtons:hover {
  transition-delay: 0.3s;
}

.certeralMortalKombat {
  display:inline;
  position: relative;
  top: 400px;
  padding-left: 350px;
}


#mkflame1{
  position: absolute;
  width: 100%;
  height: 100%;
  display: inline;
  top:300px;
  justify-content: center;
  align-items: center;
}

#mkflame2{
  position: absolute;
  width: 100%;
  height: 100%;
  display: inline;
  top:550px;
  justify-content: center;
  align-items: center;
}

#mkbuttonVideo {
  display: inline;
  position:relative;
  object-fit:cover; 
  top:750px;
}
